body {
    height: 100vh;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
img {
    width: 50%;
}
input[type="text"] {
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    font-size: 1.2rem;
    width: 45vw;
    outline: none;
    border: none;
    box-shadow: 0 0px 1px 0px #3f3f3f;
    transition: .1s ease-in-out;
}
input[type="text"]:hover {
    box-shadow: 0 2px 9px hsl(225deg 6% 13% / 28%) ;
}